[Unit]
Description=Affine knowledge base. 
After=network-online.target

[Container]
Image=ghcr.io/toeverything/affine-self-hosted:latest
PublishPort=3008:3000
Network=main
Volume=/opt/affine/data:/app/data

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
