[Unit]
Description=Booklore Library
After=network-online.target mariadb.service
Requires=mariadb.service

[Container]
Image=ghcr.io/booklore-app/booklore:latest
AutoUpdate=registry
ContainerName=booklore
Environment=USER_ID=0
Environment=GROUP_ID=0
Environment=TZ=Australia/Sydney
Environment=DATABASE_URL=jdbc:mariadb://mariadb:3306/booklore
Environment=DATABASE_USERNAME=booklore
# insert a strong and secure password, make sure they match the mariadb unit file.
Environment=DATABASE_PASSWORD=
Environment=MYSQL_ROOT_PASSWORD=

Environment=BOOKLORE_PORT=6060
Network=booklore
PublishPort=6060:6060
Volume=/opt/booklore/data:/app/data
Volume=/opt/booklore/books:/books
Volume=/opt/booklore/bookdrop:/bookdrop

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

