[Unit]
Description=MariaDB
After=network-online.target

[Container]
Image=lscr.io/linuxserver/mariadb:11.4.5
ContainerName=grimmory_mariadb
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Australia/Sydney
Environment=MYSQL_ROOT_PASSWORD=
Environment=MYSQL_DATABASE=
Environment=MYSQL_USER=
Environment=MYSQL_PASSWORD=
Network=grimmory
PublishPort=3306:3306
Volume=/opt/booklore/mariadb/config:/config


[Serivce]
Restart=always
TimeoutStartSec=900
User=1000

[Install]
WantedBy=default.target
