[Unit]
Description=Ollama
After=network-online.target

[Container]
Image=docker.io/ollama/ollama
AutoUpdate=registry
ContainerName=ollama
Environment=OLLAMA_HOST=0.0.0.0
Network=main
PublishPort=11434:11434
Volume=/opt/ollama:/root/.ollama

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

