[Unit]
Description=Open WebUI for local AI models.
After=network-online.target ollama.service

[Container]
Image=ghcr.io/open-webui/open-webui:main
AutoUpdate=registry
ContainerName=open-webui
Network=main
PublishPort=3002:8080
Volume=/opt/open-webui:/app/backend/data

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target


